.b {background-color: #ffb3b3}
.h {font-family: Futura, "Trebuchet MS", Arial, sans-serif;}
.p {font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size: 15px;}
.kp {font-family: 'Megrim', cursive; font-weight: bold; font-size: 250%; color: F0F0F0; text-align: center;
}
 .active {
    background-color: gray;
    color: white;}

.accordion {
    background-color: #000000;
    color: #FFFFFF;
    cursor: inherit;
    padding: 9px;
    text-align: left;
    font-size: 100%;
    font-weight: bold;
    font-family: Didot;
    border: none;
    transition: 0.4s;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}

.header .image {
    background: url("https://i1.sndcdn.com/visuals-000093701216-1vnynw-original.jpg") repeat;
    width: 100%;
    height: 140px;
    align-content: center;
}

.header .text .image {
    font: x-large sans-serif; }

.header .image, 
.header .text {
    display: inline-block;
    vertical-align: bottom;
}
